img{
    display:block;
    margin:0 auto;
    width:200px;
}
body{
    width:600px;
    margin:0 auto;
    background-color:#FF9500;
    padding:0 20px 20px 20px;
    border:5px solid black;
}
body{
  background: rgb(255, 255, 255);
  margin: 5%;
}
pre {
  background-color: black;
  color:rgb(210, 250, 210);
  margin-left: 2em;
  overflow: auto;
}
