img{
    display:block;
    margin:0 auto;
    width:200px;
}
body{
  background: rgb(255, 255, 255);
  margin: 5%;
}
pre {
  background-color: black;
  color:rgb(210, 250, 210);
  margin-left: 2em;
  overflow: auto;
}
